/* ...Necessary Map code... */
.map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ...Necessary Logo code... */
.logo-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1001;
}

.logo-container img {
  width: 100px;
  height: 100px;
  border-radius: 13%;
}

/* ...Necessary Dashboard code... */

.dashboard {
  position: absolute;
  top: 130px;
  left: 10px;
  width: 250px; 
  height: 45vh;
  border-radius: 5%;
  border: white;
  background-color: #333;
  z-index: 1000;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.dashboard.collapsed {
  width: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  box-shadow: none;
  transition: all 0.3s ease; 
}


.dashboard.collapsed .dashboard-content {
  display: none; 
}

.dashboard-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 16px;
  z-index: 1002;
  position: absolute;
  top: 10px;
  right: -20px;
}

.dashboard-toggle img {
  width: 30px;
  height: 30px;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.reset-zoom-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-zoom-button img {
  width: 24px;
  height: 24px;
  top: 50px;
}

.blurb {
  position: absolute;
  font-family: "Metrophobic", sans-serif;
  top: 100px;
  right: 20px;
  width: 200px;
  height: 350px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
}

.blurb:hover {
  overflow: auto;
}

.blurb-content {
  max-height: 150px; 
}

.reopen-button {
  transition: opacity 0.3s ease;
  z-index: 999;
  top: 130px;
  left: 45px;
  position: absolute;
  padding: 5px;
  background-color: #333;
  color: white;
  border-radius: 4px;
  font-size: 10px;
  cursor: pointer;
}

.dashboard.collapsed ~ .map-container {
  left: 0;
  transition: left 0.3s ease; 
}

.dashboard.collapsed ~ .logo-container {
  left: 10px;
  transition: left 0.3s ease;
}

.reopen-button.visible {
  opacity: 1;
}

.logo-image {
  position: fixed;
  width: 50px; 
  height: 50px; 
  border-radius: 15%;
  left:20px; 
  top: 10px;
}

.leaflet-control-minimap {
  width: 300px;
  height: 300px;
}

.alaska-map {
  border: 3px solid #8B0000;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 200px;
  height: 200px; 
  z-index: 1002
}

.hawaii-map {
  border: 3px solid #8B0000;
  position: absolute;
  bottom: 20px;
  right: 220px;
  width: 200px;
  height: 200px; 
  z-index: 1003
}

.menu {
  background-color: #333;
  color: white;
  padding: 25px;
  display: absolute; 
  align-items: center;
  justify-content: space-between; 
  width: 160%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1005;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.logo-text {
  position: absolute;
  font-family: "Metrophobic", sans-serif;
  font-size: 27px; 
  font-weight: bold;
  color: #ffffff;
  margin-left: 70px;
  top: 20px;
}

.menu-item-list li {
  display: absolute; 
  align-items: center; 
  justify-content: space-between; 
  font-family: "Metrophobic", sans-serif;
  margin-right: 20px; 
}

.dashboard-section-title {
  font-family: "Metrophobic", sans-serif;
  font-weight: bolder;
  color: white
}

.dashboard-section-content {
  font-family: "Metrophobic", sans-serif;
  font-size: 13.5px;
  color: white
}

.filter {
  color: white;
  font-size: 13px;
}

.menu-item-list a.active {
  color: red;
}

.pointmap-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.popup-content {
  font-family: "Metrophobic", sans-serif;
  max-height: 200px;
  overflow-y: auto;
}

.popup-content strong {
  font-weight: bold;
  font-size: 20px; 
}

.popup-bio {
  font-family: "Metrophobic", sans-serif;
  max-height: 100px;
  overflow-y: auto;
}

.dashboard {
  font-family: "Metrophobic", sans-serif;
}

.apply-reset-buttons button {
  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Metrophobic", sans-serif; 
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px; 
  color: #333; 
  transition: background-color 0.3s ease;
}
