.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  body {
    margin: 0px;
  }
  
/* Add some basic styles for the toggle button */
.toggle-button {
  position: absolute;
  top: 90px; /* Adjust the value as needed to create space between the button and the menu */
  left: 1775px; /* Adjust the value as needed to position the button horizontally */
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 9999; /* Make sure the button appears above other elements */
}

/* Style the button differently when active (for the selected map type) */
.toggle-button.active {
  background-color: #28A745;
}





